altgraph==0.17
appdirs==1.4.4
astroid==2.3.3
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.0
branca==0.4.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.1
distlib==0.3.1
dnspython==1.16.0
filelock==3.0.12
folium==0.10.1
future==0.18.2
idna==2.9
iniconfig==1.1.1
isort==4.3.21
Jinja2==2.11.1
lazy-object-proxy==1.4.3
macholib==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector-python==8.0.26
numpy==1.18.2
packaging==20.9
pandas==1.0.3
pefile==2019.4.18
pluggy==0.13.1
protobuf==3.6.1
py==1.10.0
PyInstaller==3.3.1
pyparsing==2.4.7
pypiwin32==223
pytest==6.2.4
python-dateutil==2.8.1
pytz==2019.3
pywin32==300
requests==2.23.0
six==1.13.0
soupsieve==2.0
toml==0.10.2
urllib3==1.25.8
virtualenv==20.4.3
wrapt==1.11.2
nltk==3.7
matplotlib==3.5.1 
